.footer {
  background-color: var(--black);
  color: var(--white);
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-container,
.right-container {
  height: 20vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  ul {
    display: flex;
    align-items: center;
    gap: 2em;

    li {
      list-style-type: none;
      cursor: pointer;
    }
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;

  .social-media {
    img {
      margin-left: 2em;
    }
  }

  span {
    color: var(--darkgray);
  }
}
