<section class="section-center">
  <div class="content-container">
    <img
      src="/assets/images/desktop/image-interactive.jpg"
      alt="homem com óculos de VR"
    />
    <div class="text-container">
      <p class="txt-title">The leader in interactive VR</p>
      <p class="txt">
        Founded in 2011, Loopstudios has been producing world-class virtual
        reality projects for some of the best companies around the globe. Our
        award-winning creations have transformed businesses through digital
        experiences that bind to their brand.
      </p>
    </div>
  </div>
</section>
