<main class="main-container">
  <section class="section-top">
    <div class="content-container">
      <header class="header">
        <img src="/assets/images/logo.svg" alt="logo LoopStudios" />
        <ul class="items">
          <li>About</li>
          <li>Careers</li>
          <li>Events</li>
          <li>Products</li>
          <li>Support</li>
        </ul>
      </header>
      <div class="message-container">
        <span>Immersive experiences that deliver</span>
      </div>
    </div>
  </section>

  <app-banner-information></app-banner-information>
  <app-gallery-creations></app-gallery-creations>
</main>
